*.sh 
node_modules 
*.md 
*.woff 
*.ttf 
.vscode
.idea
dist
/public
/docs
.husky
.local
/bin
*.cjs
*.d.ts
mock/*
coverage
.babelrc
commitlint.config.js
jest.config.js
rollup.config.js
vite.config.ts
postcss.config.js

**/.babelrc
**/commitlint.config.js
**/jest.config.js
**/rollup.config.js
**/vite.config.ts
**/postcss.config.js